* {
    box-sizing: border-box;/* SE APLICA A TODO LO QUE SEPUEDA APLICAR, dentro del body*/
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
}

header div {/* En orden solo el div dentro del header*/
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 0.5rem;
}

header nav ul li a {
    display: inline-block;
    padding: 0.75rem 1.5rem; /* Clickeable en area */
    /*margin: 0.75rem 1.5rem;*/
    color: #fff;
    text-decoration: none;
    text-align: center;
    /*border: 2px solid red;*/
    /* Trouble TRBL Top   Right  Bottom  Left 
        padding: 0.75rem 1.5rem 0.75rem 1.5rem
                    X     Y
        padding: 0.75rem 1.5rem
                    *ALL
        padding: 0.75rem/ igual para margin*/
}

header nav ul a:hover {
    background-color: beige;
    color: #000;
}

header div h1 {
    font-size: 1.1rem;
    margin: 0px;
    color: #fff;
}

header div img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 13px; /* 50% */
    margin: 0.1rem 0.5rem;
}

#demo {
    display: inline-block;
}



h3 {
    color: chocolate;
    background-color: darkgreen;
}

p {
    line-height: 1.5; /* interlineado */
}