* {
   box-sizing: border-box;/* SE APLICA A TODO LO QUE SEPUEDA APLICAR, dentro del body*/
}

body {
    margin: 0px;
    padding: 0px;

}
p {
    line-height: 1.5; /* interlineado */
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
}

header div {/* En orden solo el div dentro del header*/
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 0.5rem;
}

header nav ul li a {
    display: inline-block;
    padding: 0.75rem 1.5rem; /* Clickeable en area */
    /*margin: 0.75rem 1.5rem;*/
    color: #fff;
    text-decoration: none;
    text-align: center;
    /*border: 2px solid red;*/
    /* Trouble TRBL Top   Right  Bottom  Left 
        padding: 0.75rem 1.5rem 0.75rem 1.5rem
                    X     Y
        padding: 0.75rem 1.5rem
                    *ALL
        padding: 0.75rem/ igual para margin*/
}

header nav ul a:hover {
    background-color: beige;
    color: #000;
}

header div h1 {
    font-size: 1.1rem;
    margin: 0px;
    color: #fff;
}

header div img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 13px; /* 50% */
    margin: 0.1rem 0.5rem;
}

/*#demo {
    display: inline-block;
}*/



/*h3 {
    color: chocolate;
    background-color: darkgreen;
}*/

.contenedor {
    max-width: 1024px;
    margin: 0.5rem auto;
    padding: 0.5rem;
    overflow: hidden;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    overflow: hidden;
    width: 320px;
    border: 1px solid #000;
    border-radius: 9px;
    box-shadow: 3px 3px 5px #000;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .cardBody {
    padding: 0.5rem;
}

.card .cardFooter button{
    background-color: darkorchid;
    color: #fff;
    width: 100%;
    border: 1px solid darkred;
    padding: 0.85rem 0.75rem;
}

/*.card .cardFooter button:hover {
    background-color: darkred;
}*/

.demoEmRem {
    font-size: 2em;    
}

.demoEmRem p {
    font-size: 2rem;
}

.smallTags {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}

.smallTags li {
    margin: 1rem 0rem;
}

.smallTags li div {
    background-color: rgb(237, 213, 58);
    padding: 0.8rem 0.5rem;
    border: 1px solid rgb(95, 152, 9);
}

.smallTags li div img, .smallTags li div span {
    display: block;
}